@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body,
body * {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	max-width: 100vw;
	height: 100%;
	max-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	cursor: crosshair;
	overflow: hidden;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	max-height: 100vh;
	overflow: hidden;
}

#map:active:hover {
	cursor: move;
}

#map:active:hover {
	cursor: move;
}

i.up {
	content: url('icons/upload.svg');
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

input {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	width: 80%;
	height: 30px;
	font-size: 1.3em;
}

.dragOver {
	/*TODO: Body style change on drag over and drop.*/
}

footer {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	align-items: center;
	width: min(550px, 90vw);
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	transition: all 0.5s ease-in-out;
}

footer > * {
	margin: 0 10px 0 0;
}

#footerInput {
	width: min(400px, 70vw);
	height: 48px;
	-webkit-box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.45);
	box-shadow: 0px 7px 30px 0px rgba(50, 50, 50, 0.45);
	border-radius: 50px;
	color: #000000;
	font-size: 1.25em;
	transition: all 0.33s ease-in-out;
}

#footerInput::placeholder {
	color: #0098d4;
}

#footerInput:focus::placeholder {
	color: #fcf7f7;
}

#footerInput:focus {
	border-radius: 10px;
	background-color: #0098d4;
	color: #000000;
}

i {
	display: inline-block;
	background-color: white;
	padding: 10px;
	-webkit-box-shadow: -6px 4px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: -6px 4px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow: -6px 4px 12px 0px rgba(50, 50, 50, 0.75);
	border-radius: 50px;
}

i.menu {
	content: url('icons/menu.svg');
	cursor: pointer;
}

i.info {
	content: url('icons/info.svg');
	cursor: pointer;
}

footer.aside-active {
	left: 330px;
}

.aside-out {
	left: 0;
}

aside {
	position: absolute;
	left: -330px;
	top: 0;
	width: 300px;
	height: 100vh;
	padding: 10px 10px 10px 10px;
	background: transparent;
	overflow-y: scroll;
	transition: all 0.5s ease-in-out;
}

aside .bubble {
	margin: 0 auto;
	width: 90%;
	height: auto;
	min-height: 50px;
	background-color: white;
	border-radius: 20px;
	padding: 25px 15px;
	margin: 7px 0;
	-webkit-box-shadow: 3px 0px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 3px 0px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 3px 0px 12px 0px rgba(50, 50, 50, 0.75);
}

.confirm-animate {
	-webkit-animation-name: confirmation;
	animation-name: confirmation;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

@keyframes confirmation {
	0% {
		background-color: initial;
	}

	50% {
		background-color: #95cdba;
	}

	100% {
		background-color: initial;
	}
}

@-webkit-keyframes confirmation {
	0% {
		background-color: #f1f3f4;
	}

	50% {
		background-color: #95cdba;
	}

	100% {
		background-color: #f1f3f4;
	}
}

/* Progress Bars */

/* All */
#line-progress progress {
	height: 7px;
}

#line-progress progress::-moz-progress-bar {
	height: 7px;
}

#line-progress progress::-webkit-progress-value {
	height: 7px;
}

#line-progress progress[aria-valuenow]:before {
	height: 7px;
}

/* Bakerloo */
#line-progress progress#bakerloo {
	background: #b36305;
}

#line-progress progress#bakerloo::-moz-progress-bar {
	background: #b36305;
}

#line-progress progress#bakerloo::-webkit-progress-value {
	background: #b36305;
}

#line-progress progress#bakerloo[aria-valuenow]:before {
	background: #b36305;
}

/* Central */
#line-progress progress#central {
	background: #e32017;
}

#line-progress progress#central::-moz-progress-bar {
	background: #e32017;
}

#line-progress progress#central::-webkit-progress-value {
	background: #e32017;
}

#line-progress progress#central[aria-valuenow]:before {
	background: #e32017;
}

/* Circle */
#line-progress progress#circle {
	background: #ffd300;
}

#line-progress progress#circle::-moz-progress-bar {
	background: #ffd300;
}

#line-progress progress#circle::-webkit-progress-value {
	background: #ffd300;
}

#line-progress progress#circle[aria-valuenow]:before {
	background: #ffd300;
}

/* District */
#line-progress progress#district {
	background: #00782a;
}

#line-progress progress#district::-moz-progress-bar {
	background: #00782a;
}

#line-progress progress#district::-webkit-progress-value {
	background: #00782a;
}

#line-progress progress#district[aria-valuenow]:before {
	background: #00782a;
}

/* DLR */
#line-progress progress#dlr {
	background: #00a4a7;
}

#line-progress progress#dlr::-moz-progress-bar {
	background: #00a4a7;
}

#line-progress progress#dlr::-webkit-progress-value {
	background: #00a4a7;
}

#line-progress progress#dlr[aria-valuenow]:before {
	background: #00a4a7;
}

/* Elizabeth */
#line-progress progress#elizabeth {
	background: #7156a5;
}

#line-progress progress#elizabeth::-moz-progress-bar {
	background: #7156a5;
}

#line-progress progress#elizabeth::-webkit-progress-value {
	background: #7156a5;
}

#line-progress progress#elizabeth[aria-valuenow]:before {
	background: #7156a5;
}

/* Hammersmith & City */
#line-progress progress#hammersmith-city {
	background: #f3a9bb;
}

#line-progress progress#hammersmith-city::-moz-progress-bar {
	background: #f3a9bb;
}

#line-progress progress#hammersmith-city::-webkit-progress-value {
	background: #f3a9bb;
}

#line-progress progress#hammersmith-city[aria-valuenow]:before {
	background: #f3a9bb;
}

/* Jubilee */
#line-progress progress#jubilee {
	background: #a0a5a9;
}

#line-progress progress#jubilee::-moz-progress-bar {
	background: #a0a5a9;
}

#line-progress progress#jubilee::-webkit-progress-value {
	background: #a0a5a9;
}

#line-progress progress#jubilee[aria-valuenow]:before {
	background: #a0a5a9;
}

/* Metropolitan */
#line-progress progress#metropolitan {
	background: #9b0056;
}

#line-progress progress#metropolitan::-moz-progress-bar {
	background: #9b0056;
}

#line-progress progress#metropolitan::-webkit-progress-value {
	background: #9b0056;
}

#line-progress progress#metropolitan[aria-valuenow]:before {
	background: #9b0056;
}

/* Northern */
#line-progress progress#northern {
	background: #000000;
}

#line-progress progress#northern::-moz-progress-bar {
	background: #000000;
}

#line-progress progress#northern::-webkit-progress-value {
	background: #000000;
}

#line-progress progress#northern[aria-valuenow]:before {
	background: #000000;
}

/* Overground */
#line-progress progress#overground {
	background: #ee7c0e;
}

#line-progress progress#overground::-moz-progress-bar {
	background: #ee7c0e;
}

#line-progress progress#overground::-webkit-progress-value {
	background: #ee7c0e;
}

#line-progress progress#overground[aria-valuenow]:before {
	background: #ee7c0e;
}

/* Piccadilly */
#line-progress progress#piccadilly {
	background: #003688;
}

#line-progress progress#piccadilly::-moz-progress-bar {
	background: #003688;
}

#line-progress progress#piccadilly::-webkit-progress-value {
	background: #003688;
}

#line-progress progress#piccadilly[aria-valuenow]:before {
	background: #003688;
}

/* Trams */
#line-progress progress#trams {
	background: #84b817;
}

#line-progress progress#trams::-moz-progress-bar {
	background: #84b817;
}

#line-progress progress#trams::-webkit-progress-value {
	background: #84b817;
}

#line-progress progress#trams[aria-valuenow]:before {
	background: #84b817;
}

/* Victoria */
#line-progress progress#victoria {
	background: #0098d4;
}

#line-progress progress#victoria::-moz-progress-bar {
	background: #0098d4;
}

#line-progress progress#victoria::-webkit-progress-value {
	background: #0098d4;
}

#line-progress progress#victoria[aria-valuenow]:before {
	background: #0098d4;
}

/* Waterloo & City */
#line-progress progress#waterloo-city {
	background: #95cdba;
}

#line-progress progress#waterloo-city::-moz-progress-bar {
	background: #95cdba;
}

#line-progress progress#waterloo-city::-webkit-progress-value {
	background: #95cdba;
}

#line-progress progress#waterloo-city[aria-valuenow]:before {
	background: #95cdba;
}
