@font-face {
  font-family: "LondonTube";
  src: url("Londontube.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "LondonTube", Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

#welcome {
  display: none;
  position: absolute;
  width: 75vw;
  height: 85vh;
  top: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  padding: 25px 0 10px 25px;
  background-color: white;
  overflow: hidden;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 40px -9px #a3a3a3;
  box-shadow: 10px 10px 40px -9px #a3a3a3;
}

#welcome--header {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 25px 0 10px;
}

#welcome--header div {
  margin-left: 30px;
}

#welcome i.add {
  position: absolute;
  top: 30px;
  right: 30px;
}

#welcome i.add:hover {
  cursor: pointer;
}

#welcome--body {
  display: flex;
  display: -webkit-flex;
  height: 75%;
  margin: 30px 50px 5px 10px;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  line-height: 25px;
}

#welcome--body p:last-child {
  padding-bottom: 100px;
}

section#upload {
  position: absolute;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  bottom: -340px;
  left: -170px;
  padding: 2px 20px 2px 10px;
  background-color: white;
  border-radius: 50px;
  min-width: 365px;
  width: 25%;
  max-width: 90%;
  height: 55%;
  min-height: 400px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 40px -9px #a3a3a3;
  box-shadow: 10px 10px 40px -9px #a3a3a3;
  transition: all 0.5s ease-in-out;
}

section#upload:hover {
  bottom: -320px;
  left: -150px;
}

section#upload.open {
  bottom: 1vh;
  left: 1vh;
}

div#upload--header {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  align-items: center;
}

div#upload--header span {
  font-size: 1.4em;
}

i.add {
  content: url("icons/plus.svg");
  transition: transform 0.25s ease-in-out;
}

i.add-active {
  transform: rotate(45deg);
}

section#upload:hover {
  cursor: pointer;
}

section#upload span {
  padding: 5px 10px 5px 10px;
  margin-left: 48px;
}

#upload--body {
  width: 100%;
  height: 80%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

i.up {
  content: url("icons/upload.svg");
  transition: all 0.5s;
}

input {
  font-family: "LondonTube", Arial, Helvetica, sans-serif;
  width: 80%;
  height: 30px;
  font-size: 1.3em;
  transition: all 0.5s ease-in-out;
}

input#stationInput {
  padding: 3px 5px;
  border: 1px #a0a5a9 solid;
}

input#stationInput:hover {
  background-color: #95cdba;
  border: 0.5px solid #a0a5a9;
}

input#stationInput:focus {
  outline: none;
  background-color: #95cdba;
  border: 1.5px solid #a0a5a9;
}

#upload-area {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 60%;
  width: 80%;
  background-color: #a0a5a9;
  border: 3px grey dashed;
  transition: background-color 0.25s ease-in-out;
}

#upload-area:hover {
  cursor: pointer;
  background-color: #84b817;
}

#upload-area:hover i.up {
  transform: scale(1.2);
  transition: all 0.5s;
}

.dragOver #upload-area {
  background-color: #00782a !important;
  transition: background-color 0.25s ease-in-out;
}