@font-face {
	font-family: 'Hammersmith One';
	src: url('fonts/HammersmithOne-Regular.ttf') format('truetype');
	font-display: swap;
}

#status-map {
	height: 100vh;
	width: 100vw;
	opacity: 0;
	transition: opacity 1s ease;
}

#status-map * {
	font-family: 'Hammersmith One', Helvetica, serif;
	font-size: 4.5px;
}

#THL_fenchurch-street-label {
	font-size: 2.5px !important;
}

svg > g > text,
svg > g > line,
svg > g > path,
svg > g > polygon,
svg > g > rect,
svg > g > polyline,
svg > g > circle,
svg > g > g {
	opacity: 0.2;
	transition: opacity 1s ease;
}

.visible,
.visible *,
*[id*='white_line'] {
	opacity: 1 !important;
}
