@font-face {
    font-family: 'LondonTube';
    src: url('Londontube.ttf');
}

* {
     margin: 0;
     padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map, embed {
    width: 100%;
    height: 100%;
}